@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: darkgreen;
}
.inputs {
  margin-top: 30px;
}
.card {
  display: flex;
  margin: auto;
  margin-top: 10px;
  height: 300px;
  width: 180px;
  background-color: white;
  border-radius: 10px;
}
#card {
  width: 180px;
  height: 300px;
}
.palo {
  margin-bottom: 0px;
}

.palo,
.paloInferior {
  display: flex;
  font-size: 60px;
  height: 80px;
}

.paloInferior {
  transform: rotate(180deg);
  margin: 0px;
}
.numero {
  font-size: 100px;
  margin-bottom: none;
  margin: auto;
}
